html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Cinzel, sans-serif;
  background-color: bisque;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: wheat;
  padding: 20px 20px 20px;
  border: 5px solid transparent;
}

h2 {
  font-family: Lato;
  margin: auto;
  padding: 0;
  border: 1px transparent;
  background-color: beige;
  text-align: center;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px 1px 0px 1px;
}